body{
     font-family: 'Arial Narrow', Arial, sans-serif; 
    background-color: hsl(208, 100%, 97%);
    
}

h1{
    color: hsl(180, 37%, 76%);
    text-align: center;
    border: 15px;

}

form{
    text-align: center;
    background-color: beige;
    margin: auto;
    padding: 30px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 7%);

}
#textBox{
    text-align: center;
    width: 50%;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 7%);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: hsl(86, 85%, 79%);
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px 15px;
    cursor: pointer;
    color: hsl(209, 77%, 7%);
}
button:hover{
    background-color: hsl(86, 85%, 60%);

}
#result{
    font-size: 1.75em;
    font-weight: bold;
}